<!doctype html>
<html lang="en" class="bam-ui">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Virtual Try-on Consent Dialog</title>
  </head>
  <body class="bam-container" data-padding="large">
    <div class="bam-container">
      <div class="bam-container" data-spacing="small">
        <h4>Do you accept?</h4>
        <p>By pressing "accept" the Virtual try-on session will begin</p>
      </div>
    </div>
    <div class="bam-container" data-layout="row">
      <button id="accept" data-variant="primary">Accept</button>
      <button id="deny">Deny</button>
    </div>
    <script type="module" src="./consentDialog.js"></script>
  </body>
</html>
