<!doctype html>
<html lang="en" class="bam-ui">
  <head>
    <meta name="bam-ui-insertion-point" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pre-media-permissions screen</title>
  </head>
  <body>
    <div class="bam-container" data-spacing="none">
      <div class="bam-header">
        <div class="bam-container" data-spacing="x-small">
          <div class="bam-headline1">Who are you?</div>
          <div class="bam-title">A Bambuser App Framework screen placed in "pre-media-permissions" slot</div>
        </div>
      </div>
      <div class="bam-container" data-padding="normal">
        <div class="bam-container" data-spacing="x-small">
          <p class="bam-title">First name</p>
          <input placeholder="Your first name" name="first-name"></input>
        </div>
        <div class="bam-container" data-spacing="x-small">
          <p class="bam-title">Last name</p>
          <input placeholder="Your last name" name="last-name"></input>
        </div>
        <div class="bam-container" data-spacing="x-small">
          <p class="bam-title">E-mail</p>
          <input placeholder="Your e-mail" name="email"></input>
        </div>
        <button id="continueBtn" data-variant="primary" data-size="large-wide">Continue</button>
    </div>
    <script type="module" src="./preMediaPermissionsScreen.js"></script>
  </body>
</html>
