<!doctype html>
<html lang="en" class="bam-ui">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My tool</title>
  </head>
  <body class="bam-container" data-padding="normal">
    <div class="bam-container">
      <button id="click-me" data-variant="primary" data-size="large-wide">Click me!</button>
      <p id="clicked-message" style="display: none;">Look in dev tools console for messages sent between tool and main app context</p>
    </div>
    <script type="module" src="./myTool.js"></script>
  </body>
</html>
