<!doctype html>
<html lang="en" class="bam-ui">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post thank you screen</title>
  </head>
  <body>
    <div class="bam-container" data-padding="normal" data-spacing="xx-large">
      <div class="bam-container" data-spacing="x-small">
        <div class="bam-headline1">Thank you</div>
        <div class="bam-title">A Bambuser App Framework screen placed in "post-thank-you" slot</div>
      </div>
      <button id="cta" data-variant="primary" data-size="large-wide">Back to store</button>
    </div>
    <script type="module" src="./postThankYouScreen.js"></script>
  </body>
</html>
